<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Mi Tienda E-commerce</title>
    <link rel="stylesheet" href="../css/Inicio.css">
</head>
<body>
    <header>
        <img src="img/logos/logo-no-background.png" alt="Logo Mi Tienda E-commerce">
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/carrito">Carrito</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Bienvenido a Mi Tienda</h1>
        <p>Explora nuestros productos y encuentra lo que necesitas.</p>
    </main>
    <footer>
        <p>&copy; 2024 Mi Tienda Anime</p>
    </footer>
</body>
</html>
